@inherits Umbraco.Web.Mvc.UmbracoViewPage<Home>
@using Umbraco.Web.PublishedModels
@{
	Layout = "Master.cshtml";
}

@* the fun starts here *@

<div style="color:@Model.ColourName">
	@Model.Title
	<div>
		@Model.MainContent
	</div>
	<p>Your favourite colour name is @Model.ColourName</p>
	@if (Model.ShowImage)
    {
    <div class="row">
		<figure class="col-sm-6">
			<img src="/media/czinocod/eric-han-hd7vwfzzph0-unsplash.jpg" alt="cat picture" class="img-fluid" />
		</figure>
	</div>
    }
</div>