@inherits Umbraco.Web.Mvc.UmbracoViewPage<Home>
@using Umbraco.Web.PublishedModels
@{
	Layout = "Master.cshtml";
}

@* the fun starts here *@

<div style="color:@Model.ColourName">
	@Model.Title
	<div>
		@Model.MainContent
	</div>
	<p>Your favourite colour name is @Model.ColourName</p>
</div>