@inherits Umbraco.Web.Mvc.UmbracoViewPage<Search>
@{
	Layout = "Master.cshtml";
}

<!-- Page Header-->
<header class="masthead" style="background-image: url('/assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>@Model.Name</h1>
                    <span class="subheading">A Blog Theme by Start Bootstrap</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <form action="/search/" method="GET" id="search" class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <input type="text" value="" class="form-control" name="q" placeholder="Search for something..." />
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mt-3">
                <button class="btn btn-primary search-button">Search <i class="fa fa-search"></i></button>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>There are no search results</p>
            </div>
        </form>
    </div>
</article>